<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        contextPath = "[[@{/}]]";
    </script>
    <script th:src="@{/resources/js/update_info.js}"></script>
    <title>User profile</title>
    <link href="/resources/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
</head>

<body>

<header>
    <div class="container-fluid">
        <div
                class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
            <div class="col-lg-4">
                <a href="/" class="text-decoration-none"> <span
                        class="h1 text-uppercase text-primary bg-dark px-2">ProVip</span>
                    <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Shop</span>
                </a>
            </div>
            <div class="col-lg-4 col-6 text-left">
                <form th:action="@{/getProductsByName}" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" id="tensp" name="tensp"
                               placeholder="Tìm Kiếm Sản Phẩm">

                        <div class="input-group-append" style="margin-left: 5px">
                            <button class="btn btn-secondary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-dark mb-30">
        <div class="row px-xl-5">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">

                    <button type="button" class="navbar-toggler"
                            data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between"
                         id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="#" class="nav-item nav-link active">Trang Chủ</a> <a
                                href="#" class="nav-item nav-link">Thông Tin</a> <a href="#"
                                                                                    class="nav-item nav-link">Liên
                            Hệ</a>
                        </div>


                        <div class="" style="display: flex;align-items:center">
                            <div
                                 style="margin-top: 20px;float: left;margin-right: 10px">
                                <a th:href="@{/orders_cs/list_cs}"
                                   class="btn btn-primary btn-sm mb-3" style=""> Đơn hàng của tôi </a>
                            </div>
                            <a href="/userinfo/profile" class="btn px-0"> <i
                                    class="fas fa-user text-primary"></i>
                            </a> <a href="/cart" class="btn px-0 ml-3"> <i
                                class="fas fa-shopping-cart text-primary"></i> <span
                                class="badge text-secondary border border-secondary rounded-circle"
                        ></span>
                        </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>


<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="/">Trang chủ</a>
                <a class="breadcrumb-item text-dark" href="#">Người dùng</a>
                <span class="breadcrumb-item active">Hồ sơ</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Checkout Start -->
<form th:action="@{/userinfo/save}" method="post">
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-12">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">User profile</span>
                </h5>
                <div class="bg-light p-30 mb-12">
                    <div class="row" th:object="${theuser}">
                        <div>
                            <input type="hidden" th:field="${theuser.username}">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Tên</label>
                            <input class="form-control" type="text" placeholder="Tên" th:field="${theuser.name}"
                                   name="name" id="name">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Email</label>
                            <input class="form-control" type="text" placeholder="example@email.com"
                                   th:field="${theuser.email}" disabled>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Số điện thoại</label>
                            <input class="form-control" type="text" placeholder="0987654321" th:field="${theuser.phone}"
                                   disabled>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Địa chỉ</label>
                            <input class="form-control" type="text" placeholder="123 Lê Lợi"
                                   th:field="${theuser.address}" name="address" id="address">
                        </div>

                        <div class="col-md-6 form-group">
                            <br>
                            <button class="form-control" id="btnUpdateInfo"
                                    style="background: #FFD333;width: 300px;margin-left: 200px;margin-top: 10px;">Lưu
                                thông tin
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
<!-- Checkout End -->


<!-- Footer Start -->
<footer>
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row px-xl-12 pt-3">
            <div class="col-lg-5 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">Liên Hệ Với Chúng Tôi</h5>
                <p class="mb-4">Thông tin liên lạc và địa chỉ của cửa hàng.</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>129 Tân Phước, Tiền
                    Giang</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>provip@gmail.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>0829492559</p>
            </div>
            <div class="col-lg-7 col-md-8">
                <div class="row">
                    <div class="col-md-5 mb-8">
                        <h5 class="text-secondary text-uppercase mb-4">Liên Kết Nhanh</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Trang
                                Chủ</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Thông
                                Tin</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Giỏ
                                Hàng</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Thanh
                                Toán</a>
                            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Liên Hệ</a>
                        </div>
                    </div>

                    <div class="col-md-7 mb-4">
                        <h5 class="text-secondary text-uppercase mb-4">Đăng Ký Nhận Thông Báo</h5>
                        <p>Mua hàng online với nhiều ưu đãi hơn tại tập đoàn ProVip</p>
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Nhập email của bạn">
                                <div class="input-group-append">
                                    <button class="btn btn-primary">Đăng Ký</button>
                                </div>
                            </div>
                        </form>
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">Theo Dõi Chúng Tôi</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i
                                    class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">

                <p>Thành viên nhóm: Võ Phạm Tường Duy, Đỗ Bá Kiên, Lê Hoàng Lâm</p>

            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->

</footer>
<!-- Footer End -->

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>


</body>

</html>